<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-brightcove" 
		version="0.0.1" 
		xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-brightcove</name>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="android-sdk" version=">=18" />
        <engine name="apple-ios" version=">=8.0" />
        <engine name="cordova-android" version=">=6.4.0" />
        <engine name="cordova-ios" version=">=4.5.2" />
    </engines>


    <!-- interface -->
	<js-module name="BrightcovePlayer" src="www/brightcove.js">
		<clobbers target="BrightcovePlayer" />
	</js-module>
    
    <!-- Android -->
	<platform name="android">
        <framework src="src/android/ooyala.gradle" custom="true" type="gradleReference" />

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BrightcovePlayer">
				<param name="android-package" value="cordova_plugin_brightcove.BrightcovePlayer" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>		
	    </config-file>
	    <config-file parent="/manifest/application" target="AndroidManifest.xml">			     
		    <activity android:name="cordova_plugin_ooyala.OoyalaPlayerActivity"
		    	      android:theme="@style/AppTheme"
	                  android:configChanges="keyboardHidden|orientation|screenSize"
	                  android:launchMode="singleTop">
	        </activity>         

	         <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="cordova_plugin_ooyala.CastOptionsProvider" />
		
	    </config-file> 
	     <!-- set the strings -->
	    <config-file target="res/values/strings.xml" parent="/*">
	    	<string name="media_route_menu_title">Play on..</string>
	    	<string name="loading">Loading..</string>
		    <string name="castingTo">Casting to %s</string>
		</config-file>

	     <!-- set the java source files-->
		<source-file src="src/android/OoyalaPlayerActivity.java" target-dir="src/cordova_plugin_ooyala" />
		<source-file src="src/android/OoyalaPlayer.java" target-dir="src/cordova_plugin_ooyala" />
	    <source-file src="src/android/OoyalaPlayerEvent.java" target-dir="src/cordova_plugin_ooyala" />
	    <source-file src="src/android/CastViewManager.java" target-dir="src/cordova_plugin_ooyala" />
	    <source-file src="src/android/CastOptionsProvider.java" target-dir="src/cordova_plugin_ooyala" />


		<!-- set the resources -->
		<resource-file src="res/android/layout/player_simple_layout.xml" 
			           target="res/layout/player_simple_layout.xml" />
        <resource-file src="res/android/layout/cast_video_view.xml" target="res/layout/cast_video_view.xml" />
        <resource-file src="res/android/menu/ooyala_cast_menu.xml" target="res/menu/ooyala_cast_menu.xml" />
        <resource-file src="res/android/values/styles.xml" target="res/values/styles.xml" />
        <resource-file src="res/android/values/colors.xml" target="res/values/colors.xml" />
        

        
	</platform>

	<!-- iOS -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="OoyalaPlayer">
				<param name="ios-package" value="OoyalaPlayer" />
				<param name="onload" value="true" />
			</feature>
		</config-file>	


		<!-- app config -->
		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
			</dict>
		</config-file>
		<config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
			<false/>
		</config-file>
		
		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>audio</string>
			</array>
		</config-file>
     
		<config-file target="*-Info.plist" parent="UIRequiredDeviceCapabilities">
			<array>
				<string>armv7</string>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="LSRequiresIPhoneOS">
			<true/>
		</config-file>
		<config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations">
			<array>
				<string>UIInterfaceOrientationPortrait</string>
				<string>UIInterfaceOrientationLandscapeLeft</string>
				<string>UIInterfaceOrientationLandscapeRight</string>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations~ipad">
			<array>
				<string>UIInterfaceOrientationPortrait</string>
				<string>UIInterfaceOrientationPortraitUpsideDown</string>
				<string>UIInterfaceOrientationLandscapeLeft</string>
				<string>UIInterfaceOrientationLandscapeRight</string>
			</array>
		</config-file>
		<!-- header files -->
        <header-file src="src/ios/CastPlaybackView.h" />
		<header-file src="src/ios/OOCastManagerFetcher.h" />
		<header-file src="src/ios/Utils.h" />
        <!-- player source files -->
		<source-file src="src/ios/CastPlaybackView.m" />
		<source-file src="src/ios/OOCastManagerFetcher.m" />
		<source-file src="src/ios/OoyalaPlayer.m" />
		<source-file src="src/ios/Utils.m" />

		<!-- the frameworks -->	
        <framework src="JavaScriptCore.framework" />
        <framework src="AVKit.framework" />
        <framework src="libxml2.tbd" />
        <framework src="libz.tbd" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreText.framework" />
        <framework src="MediaAccessibility.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="src/ios/Frameworks/GoogleCast.framework" embed="true" custom="true"/>
        <framework src="src/ios/Frameworks/GoogleCast.framework"/>
        <framework src="src/ios/Frameworks/OoyalaCastSDK.framework" custom="true" />
        <framework src="src/ios/Frameworks/OoyalaSDK.framework" custom="true" />
	</platform>
</plugin>